/* Style for header */
header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

/* Style for main content */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
  background-color: #1a1a1a;
  color: white;
}

/* Style for form */
form label, form select {
  display: block;
  margin-bottom: 0.5em;
}

form input, form textarea, form select {
  width: 100%;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.2);
  margin-bottom: 1em;
  background-color: #333;
  color: white;
}

form button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: white;
  color: black;
}

/* Style for footer */
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1em;
}
