body {
  font-family: Arial, sans-serif;
  background-color: blue;
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  margin: 50px 0;
}

h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  resize: vertical;
  height: 150px;
}

button[type="submit"] {
  background-color: #FDB813;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info p {
  margin: 0;
  margin-bottom: 10px;
}

.contact-info a {
  color: #FDB813;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
